{% extends "./partials/base.html" %}
{% block title %}장고 프로젝트 홈{% endblock %}

{% block part_style %}
    <title>Document</title>
    <style>
        .article_box{
            width: 500px;
            background-color: rgb(201, 204, 201);
        }
        p> span{
            padding: 15px;
            text-align: center;
        }
        p > span:first-of-type{
            width: 100px;
            display: inline-block;
        }

        ul{
            border-top: 2px solid black;
        }

        ul > li > span{
            margin: 5px;
        }
        ul > li > a {
            width: 150px;
            display: inline-block;
        }
    </style>
    {% endblock %}
</head>
<body>

    {% block content %}
    <div class="article_box">
        <p><span> 제목 </span> <span> 이름 </span> <span>작성 날짜 </span></p>
        <ul>
        {% for article in latest_article_list %}
            <li><a href="community/view_detail/{{article.id}}"><span> {{ article.title }}</span></a>   <span>   {{ article.name }}  </span>   <span> {{ article.cdate|date:"Y년 M d일 D" }} </span></li>
            {% endfor %}
        </ul>
        
    </div>
    
    <button type="button"><a href="/community/write/">메모하기</a> </button>
    <p><a href="/community/list/">전체 목록보기</a></p>
    {% endblock %}

</body>
</html>